@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
* {
  margin: 0;
  font-family: 'Yusei Magic', sans-serif;
  box-sizing: border-box;
}

@import "normalize.css";
